# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
*.o
cplex
concorde/CUT/mincut
concorde/EDGEGEN/edgegen
concorde/FMATCH/fmatch
concorde/LINKERN/linkern
concorde/LOCALCUT/localcut
concorde/TOOLS/edg2len
concorde/TOOLS/edgunion
concorde/TOOLS/fconvert
concorde/TOOLS/prob2tsp
concorde/TOOLS/showres
concorde/TOOLS/tourchk
concorde/TOOLS/tourlen
concorde/TSP/concorde
